<div id="div1">
  <h2 class="pink">Let jQuery AJAX Change This Text</h2>
  <button>Get External Content</button>
  <div class="user_unput"> <input id='number_input' type=text name="number"></div>
  <div class="result"><p>  <%= "Result for number #{request['number']} is #{@result}" %> </p></div>
</div>

